/*-----------------------------------------------------------------------------------
	Gitar Serwis
	About: Serwis, w którym robię co mogę.
	Author: Piotr Haie
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */
nav .dropdown-menu .nav-link{color:rgba(0,0,0,0.6)!important;} /* Maintain Downdown Menu Link Color in Navigation */
[data-bs-theme="dark"] nav .dropdown-menu .nav-link{color:var(--bs-dropdown-link-color)!important;} /* Maintain Downdown Menu Link Color in Navigation in Darkmode */

/* = Web Fonts
-------------------------------------------------------------- */

@font-face {
	font-family:'Alegreya-Bold';
	src: url('./fonts/Alegreya-Bold/Alegreya-Bold.ttf');
	src: url('./fonts/Alegreya-Bold/Alegreya-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

@font-face {
	font-family:'Raleway-ExtraBold';
	src: url('./fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf');
	src: url('./fonts/Raleway-ExtraBold/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display:swap;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}
.bloc-sm{
	padding:20px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}


/* Bloc Mask */

.bloc-bg-mask{
	position: absolute;
	width:100%;
	height: 100%;
	text-align:center;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 0;
	display: flex;
	pointer-events: none;
	align-items: flex-start;
}
.svg-mask{
	width:100%;
	height: 100%;
	fill-rule: evenodd;
	fill:#000000;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}

/* Nav Special Classes */
.nav-special{
	overflow-y:scroll;
}
.nav-special .site-navigation{
	top:0;
	left:0;
	width:100%;
	position: relative!important;
	max-width: 100%!important;
	z-index: 1000;
}
.nav-special .nav > li{
	width:100%;
	background: none!important;
	border:0!important;
}
.nav-special.collapsing{
	-webkit-transition: none;
	transition: none;
	height:100%!important;
	background: none!important;
}
.nav-special .navbar-nav .dropdown-menu.show{
	position: relative!important;
	transform: none!important;
	float: none;
	width: 100%;
	margin-top: 0;
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
}
.nav-special .nav .dropdown-menu .nav-link{
	color:#FFF;
}
.blocsapp-special-menu{
	position: absolute;
	z-index:10000;
}
.nav-special.fullscreen-nav .caret,.nav-special.fullscreen-nav .dropdown-menu .dropdown .caret{
	border-width: 8px;
}
.nav-special .navbar-nav .show>.nav-link{
	color:#FFF;
}

/* Animate Menu Symbol */
.navbar-toggle{
	transition: all .1s linear;
}
.selected-nav{
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}


/* Special Menu Close Button */
.close-special-menu{
	position: absolute;
	display: block;
	width: 25px;
	height:25px;
	top:16px;
	right:10px;
	z-index: 10000;
}
.nav-invert .sidebar-nav .close-special-menu{
	left:260px;
}
.close-special-menu .close-icon{
	display: block;
	width:100%;
	height:1px;
	transform: rotate(45deg);
	margin-top:12px;
}
.close-special-menu .close-icon:after{
	content:"";
	display:inherit;
	width:inherit;
	height:inherit;
	background: inherit;
	transform: rotate(90deg);
}
.lock-scroll{
	overflow:hidden;
	transition: background .3s linear;
}
.nav-special::-webkit-scrollbar{
	-webkit-appearance: none;
	width:0;
	height:0;
}
.nav-special .dropdown-menu .dropdown .caret{
	border-top-color: rgba(255,255,255,.8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}
.blocsapp-special-menu .site-navigation.pull-right{
	float:none!important;
}

/* Nav Special Close Button */
.close-special-menu .close-icon{
	background:#fff;
}
.blocsapp-special-menu blocsnav{
	background: #000;
}

/* Full Screen Navigation */
.nav-special.fullscreen-nav{
	width: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1000;
	position: fixed;
	transition: all .2s linear;
}
 .nav-special.fullscreen-nav.open-up{
	transform: translateY(1000px);
}
 .nav-special.fullscreen-nav.open-down{
	transform: translateY(-1000px);
}
 .nav-special.fullscreen-nav.open-left{
	transform: translateX(-1000px);
}
 .nav-special.fullscreen-nav.open-right{
	transform: translateX(1000px);
}
 .nav-special.fullscreen-nav .nav > li a,.nav-special.fullscreen-nav .nav .dropdown-menu > li > a{
	color:rgba(255,255,255,.8);
	text-align: center;
	font-size: 28px;
}
 .nav-special.fullscreen-nav .nav > li a:hover{
	color:#FFF;
}
 .open.nav-special.fullscreen-nav{
	opacity: 1;
	transition: all .2s linear;
}
.nav-special.fullscreen-nav .site-navigation{
	text-align:center;
	margin-top:10%!important;
}
.nav-special.fullscreen-nav .close-special-menu{
	right:20px;
}
 .open.nav-special.fullscreen-nav.open-left,  .open.nav-special.fullscreen-nav.open-right,  .open.nav-special.fullscreen-nav.open-down, .open.nav-special.fullscreen-nav.open-up{
	transform: translateY(0);
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-wire{
	background:transparent!important;
	border:2px solid transparent;
}
.btn-wire:hover{
	background:transparent!important;
	border:2px solid transparent;
}
.icon-spacer{
	margin-right:5px;
}


/*  Rounded Image */
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}

.text-justify{
	text-align: justify;
}

/* = Lists
-------------------------------------------------------------- */
.list-sp-md li{
	padding-bottom:10px;
}
.list-sp-md li:last-child,.list-sp-lg li:last-child,.list-sp-xl li:last-child{
	padding-bottom:0;
}

.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}
/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}
}
/* = Classic Dividers
-------------------------------------------------------------- */
.divider-h{
	min-height: 1px;
	background-color:rgba(0,0,0,.2);
	margin: 20px 0;
}
.divider-half{
	width: 50%;
}
.dropdown-menu .divider-h{
	margin:0;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}



/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

/* Hide Object */
.object-hidden{
	display:none;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Poppins";
}
.container{
	max-width:1140px;
}
.contents-card{
	background-color:var(--swatch-var-6936);
	border-radius:30px 30px 30px 30px;
}
.contents-item{
	border-style:solid;
	border-color:var(--swatch-var-4742)!important;
	border-width:0px 0px 1px 0px;
}
.number-label{
	float:right;
	text-align:right;
	min-width:50px;
}
.contents-title{
	display:inline-block;
}
.section-heading{
	font-size:20px;
	margin-bottom:20px;
	color:var(--swatch-var-1078)!important;
}
.quote-avatar{
	width:100px;
}
.book-container{
	box-shadow:0.00px 26.00px 25px rgba(0,0,0,0.32);
	min-height:600px;
	background-color:var(--swatch-var-1078);
	background:linear-gradient(0deg, #DCDCDC 0%, #FFFFFF  100%);
	position:relative;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	min-width:100%;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	padding:40px 40px 40px 40px;
}
.primary-gradient{
	background:linear-gradient(90deg, var(--swatch-var-2641) 23%, var(--swatch-var-417) 100%);
}
.book-container::after{
	content:"";
	position:absolute;
	min-height:100%;
	left:0px;
	background:linear-gradient(270deg, rgba(0,0,0,0.23)    0%, transparent 48%, transparent 77%, rgba(0,0,0,0.46)  100%);
	min-width:20px;
	bottom:0px;
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	box-shadow:1.00px 0.00px 0px rgba(255,255,255,0.77);
}
.bloc-fill{
	fill:var(--swatch-var-7709);
}
.hero-heading{
	font-weight:bold;
	font-size:60px;
	color:var(--swatch-var-3578)!important;
}
.hero-sub-heading{
	font-size:22px;
	color:var(--swatch-var-3578)!important;
}
.testimonial-card{
	box-shadow:0.00px -0.00px 13px rgba(0,0,0,0.10);
	padding:30px 30px 30px 30px;
	border-radius:30px 30px 30px 30px;
	color:var(--swatch-var-3578)!important;
}
.grid-style{
	grid-template-columns:1fr;
	row-gap:0px;
	grid-template-rows:auto;
}
.grid-testimonial-style{
	grid-template-columns:1fr 1fr 1fr;
}
.price-title{
	font-size:55px;
}
.pricing-sub-heading{
	font-size:20px;
}
.price-card{
	background-color:var(--swatch-var-3202);
	text-align:left;
	padding:25px 25px 25px 25px;
	border-radius:30px 30px 30px 30px;
}
.pricing-info{
	min-height:65px;
	font-size:17px;
}
.price-list-icon{
	height:20px;
	width:20px;
	float:left;
	margin-right:10px;
}
.dark-icon{
	opacity:0.8;
}
.price-list-item{
	display:inline;
}
.white-btn{
	color:var(--swatch-var-2641)!important;
}
.white-bg{
	background-color:var(--swatch-var-257);
}
.link-style{
	font-family:"Poppins";
	font-weight:700;
}
.section-sub-heading{
	font-size:30px;
	font-weight:400;
	color:var(--swatch-var-1078)!important;
}
.avatar-img{
	max-width:250px;
}
.video-info{
	font-size:14px;
}
.book-title{
	font-weight:600;
	font-size:33px;
}
.book-divider{
	margin-top:5px;
	margin-bottom:5px;
	background-color:var(--swatch-var-3578);
	height:3px;
}
.primary-text{
	color:var(--swatch-var-2641)!important;
}
.qoute-heading{
	font-size:36px;
}
.menu-icon-stroke{
	stroke:var(--swatch-var-1078);
	fill:var(--swatch-var-1078);
}
.hero-btn{
	min-width:230px;
	font-size:22px;
}
.primary-dot::after{
	content:".";
	color:var(--swatch-var-2641)!important;
	position:absolute;
}
.sample-chapter-p::first-letter{
	color:var(--swatch-var-3578)!important;
	line-height:45px;
	font-size:50px;
}
.video-frame video{
	border-radius:12px 12px 12px 12px;
}
.menu-icon-bloc-0-stroke{
	stroke:var(--swatch-var-1078);
	fill:var(--swatch-var-1078);
}
.navbar-brand img{
	max-width:300px;
	min-width:300px;
	width:100%;
	height:100%;
}
h1,h2,h3,h4,h5,h6{
	font-family:"Raleway-ExtraBold";
	color:var(--swatch-var-4324)!important;
}
.img-style{
	width:171px;
}
.img-red-cro-style{
	width:200px;
}
.img-resource-style{
	width:250px;
}
.p-style{
	width:100%;
}
.p-pricing-style{
	font-size:17px;
}
.p-2-style{
	font-size:20px;
	color:var(--swatch-var-1078)!important;
}
.h3-style{
	font-size:30px;
}
.h4-style{
	font-size:24px;
}
.bloc-bloc-5-fill{
	fill:var(--swatch-var-257);
}
.bloc-about-fill{
	fill:transparent;
}
.hero-background{
	background-color:var(--swatch-var-7709);
}
.fuzzy-background{
	background-image:url("img/duotone1.jpg");
	background-image: -webkit-image-set(url("img/duotone1.webp") 1x,
url("img/duotone1.webp") 2x);background-image: image-set(url("img/duotone1.jpg") 1x,
url("img/duotone1.jpg") 2x,url("img/duotone1.webp") 1x,
url("img/duotone1.webp") 2x);
}
h3{
	font-family:"Alegreya-Bold";
}
.section-heading-dark{
	font-size:20px;
	margin-bottom:20px;
	color:var(--swatch-var-2641)!important;
}
.lang-picker{
	font-size:25px;
	text-decoration:none;
	color:var(--swatch-var-3578)!important;
	border-radius:4px 4px 4px 4px;
}
.hero-btn-white{
	min-width:230px;
	font-size:22px;
}
.hero-btn-white:hover{
	background-color:var(--swatch-var-417);
}
.regular-btn{
	min-width:200px;
}
.lang-picker:hover{
	color:var(--swatch-var-3578)!important;
	background-color:var(--swatch-var-417);
}
.img-kote-style{
	width:500px;
}
.scroll-qoute-container{
	width:100%;
}
.quote-text{
	font-size:26px;
	font-style:italic;
}
.hero-phone-btn{
	color:var(--swatch-var-3578)!important;
	background-color:var(--swatch-var-417);
}
.hero-phone-btn:hover{
	background-color:var(--swatch-var-4324);
}
.logo{
	width:40%;
	max-width:300px;
}
.list-style{
	opacity:0.3;
}
.additional-subheader{
	color:var(--swatch-var-2641)!important;
}
.additional-h2{
	color:var(--swatch-var-2641)!important;
}
.about-header{
	font-size:26px;
}
.h3-piotr-haie-style{
	font-size:28px;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-2641:rgba(50,65,89,1.00);
	
	--swatch-var-1078:rgba(255,255,255,1.00);
	
	--swatch-var-3578:rgba(27,32,33,1.00);
	
	--swatch-var-6936:rgba(248,250,252,1.00);
	
	--swatch-var-4742:rgba(0,0,0,0.10);
	
	--swatch-var-509:rgba(0,0,0,0.50);
	
	--swatch-var-7709:rgba(151,170,189,0.36);
	
	--swatch-var-257:rgba(255,255,255,0.50);
	
	--swatch-var-417:rgba(238,118,116,1.00);
	
	--swatch-var-1053:rgba(100,78,91,1.00);
	
	--swatch-var-4763:rgba(233,1,0,1.00);
	
	--swatch-var-565:rgba(44,66,81,1.00);
	
	--swatch-var-4324:rgba(158,90,99,1.00);
	
	--swatch-var-2765:rgba(255,203,119,1.00);
	
	--swatch-var-7343:#000000;
	
}


/* Background colour styles */

.bgc-2641{
	background-color:var(--swatch-var-2641);
}
.bgc-4324{
	background-color:var(--swatch-var-4324);
}
.bgc-417{
	background-color:var(--swatch-var-417);
}

/* Text colour styles */

.tc-3578{
	color:var(--swatch-var-3578)!important;
}
.tc-1078{
	color:var(--swatch-var-1078)!important;
}
.tc-509{
	color:var(--swatch-var-509)!important;
}
.tc-2641{
	color:var(--swatch-var-2641)!important;
}

/* Button colour styles */

.btn-c-2641{
	background:var(--swatch-var-2641);
	color:#FFFFFF!important;
}
.btn-c-2641:hover{
	background:#000E26!important;
	color:#FFFFFF!important;
}
.wire-btn-c-3578{
	color:var(--swatch-var-3578)!important;
	border-color:var(--swatch-var-3578)!important;
}

/* Link colour styles */

.ltc-1078{
	color:var(--swatch-var-1078)!important;
}
.ltc-1078:hover{
	color:#CCCCCC!important;
}

/* Icon colour styles */

.icon-3578{
	color:var(--swatch-var-3578)!important;
	border-color:var(--swatch-var-3578)!important;
}

/* Bloc image backgrounds */



/* = Additional CSS
-------------------------------------------------------------- */
body {
--gmpx-color-primary: #EE7674
}


/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.price-title{
		font-size:50px;
	}
	.pricing-sub-heading{
		font-size:20px;
		margin-bottom:30px;
	}
	.price-card{
		margin-bottom:20px;
	}
	.hero-heading{
		font-size:50px;
	}
	.book-container{
		min-height:450px;
	}
	.grid-testimonial-style{
		grid-template-columns:1fr 1fr;
	}
	.navbar-brand img{
		min-width:300px;
	}
	
}

@media (max-width: 767px){
	.price-title{
		font-size:40px;
	}
	.pricing-sub-heading{
		margin-bottom:30px;
		font-size:18px;
	}
	.price-card{
	}
	.price-list-item{
	}
	.qoute-heading{
		font-size:30px;
	}
	.hero-heading{
		font-size:50px;
	}
	.book-container{
		min-height:440px;
	}
	.contents-card{
		border-radius:20px 20px 20px 20px;
	}
	.grid-testimonial-style{
		grid-template-columns:1fr;
	}
	.menu-icon-bloc-0-stroke{
		stroke:var(--swatch-var-1078);
		fill:var(--swatch-var-1078);
	}
	.quote-text{
		font-size:22px;
	}
	.navbar-brand img{
		min-width:300px;
	}
	
}

@media (max-width: 575px){
	.price-title{
		font-size:30px;
	}
	.avatar-img{
		max-width:150px;
	}
	.book-container{
		min-height:350px;
	}
	.grid-testimonial-style{
		grid-template-columns:1fr;
	}
	.testimonial-card{
		padding:20px 20px 20px 20px;
	}
	.price-card{
		padding:15px 15px 15px 15px;
		border-radius:20px 20px 20px 20px;
	}
	.section-sub-heading{
		font-size:22px;
	}
	.contents-title{
		font-size:14px;
	}
	.number-label{
		font-size:14px;
	}
	.hero-heading{
		font-size:30px;
	}
	.book-title{
		font-size:23px;
	}
	.menu-icon-stroke{
	}
	.hero-btn{
		width:100%;
	}
	.hero-sub-heading{
		font-size:16px;
	}
	.contents-card{
	}
	.qoute-heading{
		font-size:24px;
	}
	.hero-btn-white{
		width:100%;
	}
	.regular-btn{
		width:100%;
	}
	.navbar-brand img{
		min-width:200px;
		width:100%;
		height:100%;
	}
	.quote-text{
		font-size:18px;
	}
	.logo{
		width:100%;
	}
	.lang-picker{
	}
	
}
